<div id="pickText">
  <p class="centered"> Pick your city</p>
  <label class="centered">
    <select id="select">
      <option value="kr">Kraków</option>
      <option value="wa">Warszawa</option>
      <option value="wr">Wrocław</option>
    </select>
  </label>
  <button id="button" class="button">
    <a routerLink="/form">NEXT></a>
  </button>
  <img id="agh" src="../assets/agh_image.jpg" alt="agh"/>
  <p id ="topic" class="agh">
    Design and implementation of a parking space recommendation
    system in the car sharing service
  </p>
</div>
