#pickText{
  text-align: center;
}
.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20pt;
}
.button {
  position: absolute;
  top: 38%;
  right: 35%;
  font-size: 20pt;
}
#selectCity{
  font-size: 20pt;
  margin: 200% 0 100% 0;
}
#button{
  background-color: cadetblue;
}
.button a {
  color: #000000;
  text-decoration: none;
}
.button a:hover {
  color: green;
}
body{
  background-color: green;
}
