.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15pt;
}
#CordsTitle{
  position: absolute;
  top: 23%;
  left: 49.8%;
}
#CordX{
  position: absolute;
  top: 27%;
  left: 45.8%;
}
#CordXTitle{
  position: absolute;
  top: 27%;
  left: 40%;
}
#CordY{
  position: absolute;
  top: 27%;
  left: 53.8%;
}
#CordYTitle{
  position: absolute;
  top: 27%;
  left: 59.5%;
}
#disabledTitle{
  position: absolute;
  top: 30%;
  left: 49.8%;
}
#disabledYes{
  position: absolute;
  top: 36%;
  left: 40%;
}
#disabledYesLabel{
  position: absolute;
  top: 36%;
  left: 42%;
}
#disabledNo{
  position: absolute;
  top: 36%;
  left: 57%;
}
#disabledNoLabel{
  position: absolute;
  top: 36%;
  left: 59%;
}
#paidTitle{
  position: absolute;
  top: 37%;
  left: 44.8%;
}
#paidYes{
  position: absolute;
  top: 43%;
  left: 40%;
}
#paidYesLabel{
  position: absolute;
  top: 43%;
  left: 42%;
}
#paidNo{
  position: absolute;
  top: 43%;
  left: 57%;
}
#paidNoLabel{
  position: absolute;
  top: 43%;
  left: 59%;
}
#guardedTitle{
  position: absolute;
  top: 44%;
  left: 46.9%;
}
#guardedYes{
  position: absolute;
  top: 50%;
  left: 40%;
}
#guardedYesLabel{
  position: absolute;
  top: 50%;
  left: 42%;
}
#guardedNo{
  position: absolute;
  top: 50%;
  left: 57%;
}
#guardedNoLabel{
  position: absolute;
  top: 50%;
  left: 59%;
}
#freeSpacesTitle{
  position: absolute;
  top: 51%;
  left: 48.9%;
}
#freeSpacesYes{
  position: absolute;
  top: 57%;
  left: 40%;
}
#freeSpacesYesLabel{
  position: absolute;
  top: 57%;
  left: 42%;
}
#freeSpacesNo{
  position: absolute;
  top: 57%;
  left: 57%;
}
#freeSpacesNoLabel{
  position: absolute;
  top: 57%;
  left: 59%;
}
.button {
  position: absolute;
  top: 63%;
  right: 35%;
  font-size: 15pt;
}
#button{
  background-color: cadetblue;
}
.button a {
  color: #000000;
  text-decoration: none;
}
.button a:hover {
  color: green;
}
body{
  background-color: green;
}
